@charset "utf-8";
@import "bourbon";
@import "base/base";
@import "neat";


.rotate{
  float: right;
  width: 8%;
}

.arrows {
  width: 20.3%;
}

.shirt1 {
  float: left;
  max-width: 22%;
  margin: 5px;
  border: 2.5px solid lightblue;
}

.shirt2 {
  float: left;
  width: 22%;
  margin: 5px;
  border: 2.5px solid lightblue;
}

.shirt3 {
  float: left;
  width: 22%;
  margin: 5px;
  border: 2.5px solid lightblue;
}
