@charset "utf-8";
@import "bourbon";
@import "base/base";
@import "neat";


section{
  @include outer-container;
  @include span-columns(12);
}

.rotate{
  float: right;
  width: 8%;
}

.arrows {
  width: 20.4%;
}

.shirt1 {
  @include outer-container;
  width: 22%;
  margin: 1.5%;
  border: 2.5px solid lightblue;
  @include span-columns(3.5);
}

.shirt2 {
  @include outer-container;
  width: 22%;
  margin: 1.5%;
  border: 2.5px solid lightblue;
  @include span-columns(3.5);
}

.shirt3 {
  @include outer-container;
  width: 22%;
  margin: 1.5%;
  border: 2.5px solid lightblue;
  @include span-columns(3.5);
}
