<section>
<div class="shirt1">
  <div class="rotate"><i class="fa fa-repeat"></i></div>
  <img src="/images/bluefront.jpg">
  <div class="arrows"><i class="fa fa-exchange"></i></div>
  <div class="arrows"><i class="fa fa-heart-o"></i></div>
  <div class="tooltip-item arrows">
<i>XL</i>
  <div class="tooltip">
    <ul class="dropdown">
      <li><i>sm</i></li>
      <li><i>m</i></li>
      <li><i>L</i></li>
      <li><i>XL</i></li>
    </ul>
  </div>
</div>
  <div class="arrows"><i class="fa fa-square"></i></div>
<div class="arrows"><i class="fa fa-shopping-cart"></i></div>
</div>


<div class="shirt2">
  <div class="rotate"><i class="fa fa-repeat"></i></div>
  <img src="/images/pinkfront.jpg">
  <div class="arrows"><i class="fa fa-exchange"></i></div>
  <div class="arrows"><i class="fa fa-heart-o"></i></div>
  <div class="tooltip-item arrows">
<i>XL</i>
  <div class="tooltip">
    <ul class="dropdown">
      <li><i>sm</i></li>
      <li><i>m</i></li>
      <li><i>L</i></li>
      <li><i>XL</i></li>
    </ul>
  </div>
</div>
  <div class="arrows"><i class="fa fa-square"></i></div>
<div class="arrows"><i class="fa fa-shopping-cart"></i></div>
</div>


<div class="shirt3">
  <div class="rotate"><i class="fa fa-repeat"></i></div>
  <img src="/images/yellowfront.jpg">
  <div class="arrows"><i class="fa fa-exchange"></i></div>
  <div class="arrows"><i class="fa fa-heart-o"></i></div>
  <div class="tooltip-item arrows">
<i>XL</i>
  <div class="tooltip">
    <ul class="dropdown">
      <li><i>sm</i></li>
      <li><i>m</i></li>
      <li><i>L</i></li>
      <li><i>XL</i></li>
    </ul>
  </div>
</div>
  <div class="arrows"><i class="fa fa-square"></i></div>
<div class="arrows"><i class="fa fa-shopping-cart"></i></div>
</div>
<section>
