
<div class="shirt1">
  <div class="rotate"><i class="fa fa-repeat"></i>
  </div>
  <img src="/images/bluefront.jpg">
  <div class="arrows"><i class="fa fa-exchange"></i>
  </div>
  <div class="heart"><i class="fa fa-heart-o"></i>
</div>
</div>

<div class="shirt2">
<img src="/images/pinkfront.jpg">
</div>

<div class="shirt3">
<img src="/images/yellowfront.jpg">
</div>
